<!DOCTYPE html>
<html>

<head>
    <%= require('html-loader!./layout/head-html.html') %>
        <title>
            <%= htmlWebpackPlugin.options.title%>--幼儿园</title>
</head>

<body>
    <%=require('html-loader!./layout/header.html')%>
        <section class="navbox">
        </section>
        <section class="layout-tow w1200">
            <div class="nav-sad">
            <%=require('html-loader!./layout/nav-sad.html')%>
                
            </div>
            <div class="contentbox">
                <div class="nav-simple">当前页面：<a>户外拓展</a>/<a>拓展项目</a>/<a>水上项目</a>
                </div>
                <article class="articlebox">
                    <h2>感恩父母心，沟通亲子情</h2>
                    <div class="brief">
                        <p>
                            <span>
                                作者:铭润拓展训练   
                                      
                            </span>　
                            <span>
                                来源：http://www.tuozhanm.com   
                            </span>  
                            <span>
                                 发布时间：2014-07-03
                            </span>
                            <span>
                                 人气 : 487  
                            </span>      
                        </p>
                        
                    </div>
                     <div class="imgshow">
                        <img src="../image/bg2.jpg" alt="">
                    </div>
                    <div class="contmagbox">
                        <label>课程介绍</label>
                        <p>
                            家庭亲子拓展通过精心设计的一系列生动、活泼、有趣的体验活动，引用体验式学习方式作为基础模式，
                            专项设计不同类型的团队项目，家庭成员以平等的身份参与，培训师适时针对性引导和分享，通过成员之
                            间独立互动等环节，彼此培养良好的沟通习惯，融洽亲子关系。从而相互学习、相互理解、共同成长，创
                            造一个更富亲情、更富激情、更多关怀的家庭环境，促使孩子更快成长。
                        </p>
                    </div>
                    <div class="contmagbox">
                        <label>课程内容</label>
                        <p>
                            独立人格部分－－放飞心灵、认知自我、团队文化展示（户外）</p>
                        <p>团队合作部分－－独立团队形式拓展训练（户外）</p>
                        <p>换位实践部分－－感恩父母（角色模拟）、激发自我（潜能开发）</p>
                        
                    </div>
                    <div class="contmagbox">
                        <label>课程特色</label>
                        <p>学员为中心＋家庭齐学习＋体验式教育＋拓展培训师＋军事教官+助教</p>
                        <p>自我认知训练＋熔炼团队训练＋感恩亲子训练＋人文关怀训练</p>
                        <p>个体体验＋团体分享＋合作思考＋竞赛模式＋换位实践</p>
                        <p>全程跟踪拍摄＋回归家庭互动＋成长经历引导</p>
                    </div>
                    <div class="contmagbox">
                        <label>课程目的</label>
                        <p>1、体验家庭中的浓浓亲情，促进父母与孩子之间的相互沟通、相互理解，并逐步形成共同的认知；</p>
                        <p>2、培养孩子独立处理问题的能力，在困难与险境中磨练顽强的毅力，以积极健康的心态面对未来成长中的
                        竞争和挑战；</p>
                        <p>3、树立家庭中的感恩情结，父母感谢孩子带来的欢笑、娱悦，孩子感谢父母的养育之恩，双方共同营造和
                        谐、温馨的家庭气氛；</p>
                        <p>4、培养孩子在团队中的成长，启发孩子认识到一个人的力量是有限的，培养其与他人合作的精神，引导孩
                        子客观地认知社会、感知人生、体谅同伴与亲人；</p>
                        <p>5、消除孩子对父母的隔阂，在危难及压力的情境下，启发孩子了解父母的感受，感知父母对孩子的良苦用
                        心，增进孩子与父母的交流，共同面对问题，共同寻找解决的途径；</p>
                        <p>6、创造父母认知孩子的机会，通过各种互动、交流、合作的设计环节，令父母真正走入孩子的思考空间和
                        活动领域，真切了解孩子的想法和出发点，欣赏孩子的优点和潜质，发现与孩子顺畅交流的最佳方式。
                        </p>
                        
                    </div>
                    <div class="contmagbox">
                        <label>训练对象</label>
                        <p>
                            10周岁以上的孩子及其家长        
                        </p>  
                        
                    </div>
                   
                </article>
            </div>
        </section>

        <%=require('html-loader!./layout/footer.html')%>
</body>

</html>